# Data Analysis

Ryry :)

### Data analysis
1. Look at columns, graph out variance of columns (min/max) .describe
    * Document output of .describe on each column
#### -> 2. Find which column is a finite value vs. continuous values — get to know data better
 - encode subcategories of categorical columns
 - barchart of frequency when given hashed value appears
 
2. Scatter plot to find outliers
- hypothesize about what I can feed a model 
3. Find best application of random forest on raw data 
4. Then run a neural net on cleaned data 


### Experiment with different models on cleaned data
1. Start small — try one model with one feature to predict click
    * Run a NN on one feature to predict click
    * Then try another feature, and so on
2. Try 10 different models
    * SGD descent classifier — look up different tensorflow models, etc. 
    * Document the value of each model
        * Might not find perfect model but we will know. Make a graph (the width of the network vs. depth network vs. loss of network) 
        * Describe a line through time that shows how tweaking different hyper parameters effects the model —doing data discovery by letting the computer do data discovery for us, while we tweak the hyper parameter)
        * Document everything — ask questions like:
            * When does the model start overfitting?
            * What happens if my neural net is 100? 10 neurons wide? compare
            * Try five layers deep vs. One
            * In each comparison, was there any value? Is there a point of diminishing return?
            * Try different GPUs, etc.

### Informed feature engineering (when we know something about the ad-space): 
(avoid feature engineering unless we have domain knowledge of the features — let the models do the work, emphasize normalizing/standardizing data and controlling/understanding column variance to get better model performance — before feature engineering)

We can feature engineer things like banners, we see ad banners every day, try this:
1. Use K-Means on ads — find natural divisions in banners 
2. Try to find clusters of information around ads
3. Make classes for clusters of ads (i.e., square ads, long rectangular banners, etc.)
    * Make scatterplots of the heights, widths of ad banners/size
    * Turn those into one column — make ordinal ’types’ of banners

Subdivide by website — see if we can be more predictive based on the destination site_id, etc.
* Encode unique groups of hashed values of site_id column (one hot encoder)
* Then test, we can discover that maybe “site_a” provides a higher accuracy and so on. 

*Don’t need recurrent neural net or a convolutional neural net — Josh recommends a basic neural net

### References
 - CTR: https://towardsdatascience.com/mobile-ads-click-through-rate-ctr-prediction-44fdac40c6ff
 - the sage wisdom of AMLI instructors & TAs

## Import Libraries and Data

In [2]:
import pandas as pd
import numpy as np
import multiprocessing as mp
import psutil
import random
import datetime as datetime
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [3]:
# read in the Avazu - criteo labs - csv file
# rand_sample_csv is a randomized subset (1% the size) of the sample_csv which is ~400k instances 

df = pd.read_csv('rand_sample_eng.csv')

# Data Exploration

In [4]:
df.head(5)

,Unnamed: 0,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,...,C15,C16,C17,C18,C19,C20,C21,new_date,new_time,day_of_week
0,0,10004510652136496837,0,14102100,1005,0,543a539e,c7ca3108,3e814130,ecad2386,...,320,50,2333,0,39,-1,157,2014-10-21,00:00:00,1
1,1,10007164336863914220,1,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,320,50,1722,0,35,-1,79,2014-10-21,00:00:00,1
2,2,10076859283156800622,0,14102100,1002,0,f17ebd97,c4e18dd6,50e219e0,ecad2386,...,216,36,2497,3,43,100151,42,2014-10-21,00:00:00,1
3,3,10078825124049580646,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,320,50,1722,0,35,-1,79,2014-10-21,00:00:00,1
4,4,10085233430943183912,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,...,320,50,1722,0,35,-1,79,2014-10-21,00:00:00,1

In [5]:
df.describe()

,Unnamed: 0,id,click,hour,C1,banner_pos,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21,day_of_week
count,404410.000000,4.044100e+05,404410.000000,4.044100e+05,404410.000000,404410.000000,404410.000000,404410.000000,404410.000000,404410.000000,404410.000000,404410.000000,404410.000000,404410.000000,404410.000000,404410.000000,404410.000000
mean,202204.500000,9.213896e+18,0.169991,1.410256e+07,1004.967372,0.288638,1.014695,0.331688,18844.936193,318.795856,60.076581,2112.733881,1.431426,227.891140,53239.462209,83.304955,2.601259
std,116743.255518,5.319411e+18,0.375625,2.968127e+02,1.090207,0.504033,0.523959,0.855877,4947.526554,20.667022,47.023691,607.929983,1.325359,351.686105,49955.391770,70.251537,1.727362
min,0.000000,7.306813e+13,0.000000,1.410210e+07,1001.000000,0.000000,0.000000,0.000000,375.000000,120.000000,20.000000,112.000000,0.000000,33.000000,-1.000000,1.000000,0.000000
25%,101102.250000,4.607240e+18,0.000000,1.410230e+07,1005.000000,0.000000,1.000000,0.000000,16920.000000,320.000000,50.000000,1863.000000,0.000000,35.000000,-1.000000,23.000000,1.000000
50%,202204.500000,9.218443e+18,0.000000,1.410260e+07,1005.000000,0.000000,1.000000,0.000000,20346.000000,320.000000,50.000000,2323.000000,2.000000,39.000000,100048.000000,61.000000,2.000000
75%,303306.750000,1.382200e+19,0.000000,1.410281e+07,1005.000000,1.000000,1.000000,0.000000,21893.000000,320.000000,50.000000,2526.000000,3.000000,171.000000,100086.000000,101.000000,4.000000
max,404409.000000,1.844673e+19,1.000000,1.410302e+07,1012.000000,7.000000,5.000000,5.000000,24043.000000,1024.000000,1024.000000,2757.000000,3.000000,1839.000000,100248.000000,255.000000,6.000000

In [6]:
df.shape # this sample has 404,410 rows of data with 26 columns

(404410, 28)

In [7]:
df.dtypes
# avazu: "all integer features are categorical variables, all IDs, no numerical meaning"

Unnamed: 0           int64
id                  uint64
click                int64
hour                 int64
C1                   int64
banner_pos           int64
site_id             object
site_domain         object
site_category       object
app_id              object
app_domain          object
app_category        object
device_id           object
device_ip           object
device_model        object
device_type          int64
device_conn_type     int64
C14                  int64
C15                  int64
C16                  int64
C17                  int64
C18                  int64
C19                  int64
C20                  int64
C21                  int64
new_date            object
new_time            object
day_of_week          int64
dtype: object

In [8]:
# what do the columns mean?

 - id: ad identifier
 - click: 0/1 for non-click/click
 - hour: format is YYMMDDHH
 - C1 — anonymized categorical variable
 - banner_pos
 - site_id
 - site_domain
 - site_category
 - app_id
 - app_domain
 - app_category
 - device_id
 - device_ip
 - device_model
 - device_type
 - device_conn_type
 - C14-C21 — anonymized categorical variables

# Data Preprocessing

In [9]:
#  unnamed column are columns that are created when a dataframe is converted to a csv. 
# 'Unnamed: 0', 'Unnamed: 0.1' are row indexes which were tansposed into columns.
df_new = df.drop(['Unnamed: 0'], axis=1)

In [10]:
df_new.shape

(404410, 27)

In [11]:
# check for missing values

df_new.isnull().sum()

id                  0
click               0
hour                0
C1                  0
banner_pos          0
site_id             0
site_domain         0
site_category       0
app_id              0
app_domain          0
app_category        0
device_id           0
device_ip           0
device_model        0
device_type         0
device_conn_type    0
C14                 0
C15                 0
C16                 0
C17                 0
C18                 0
C19                 0
C20                 0
C21                 0
new_date            0
new_time            0
day_of_week         0
dtype: int64

In [12]:
# summed list of each column for df_new, looking for inconsistencies

for col in df_new.columns.values:
    total = len(df_new[col].unique())
    print(str(col) + " " + "total: " + str(total))

id total: 404410
click total: 2
hour total: 240
C1 total: 7
banner_pos total: 7
site_id total: 2195
site_domain total: 2172
site_category total: 21
app_id total: 2305
app_domain total: 153
app_category total: 26
device_id total: 64913
device_ip total: 262453
device_model total: 4369
device_type total: 5
device_conn_type total: 4
C14 total: 2067
C15 total: 8
C16 total: 9
C17 total: 415
C18 total: 4
C19 total: 65
C20 total: 159
C21 total: 60
new_date total: 10
new_time total: 24
day_of_week total: 7

Each instance of a column are hashed values of an original ID.
Hashing was done to anonymize the services contributing ad data to this dataset.
For illustrative/descriptive purposes we will treat each hashed value as names or in other fictional contexts (e.g.,'7801e8d9' = 'www.overstock.com'). (Thank you Naomi!)

# Feature Engineering
## Hour & Date

In [13]:
# check hour column data type
df_new.hour.dtype

dtype('int64')

In [14]:
# separate the date and time
parse_date = lambda val : pd.datetime.strptime(val, '%y%m%d%H')
df_new['new_hour'] = df_new.hour.astype(str).apply(parse_date)
df_new['new_hour']

0        2014-10-21 00:00:00
1        2014-10-21 00:00:00
2        2014-10-21 00:00:00
3        2014-10-21 00:00:00
4        2014-10-21 00:00:00
5        2014-10-21 00:00:00
6        2014-10-21 00:00:00
7        2014-10-21 00:00:00
8        2014-10-21 00:00:00
9        2014-10-21 00:00:00
10       2014-10-21 00:00:00
11       2014-10-21 00:00:00
12       2014-10-21 00:00:00
13       2014-10-21 00:00:00
14       2014-10-21 00:00:00
15       2014-10-21 00:00:00
16       2014-10-21 00:00:00
17       2014-10-21 00:00:00
18       2014-10-21 00:00:00
19       2014-10-21 00:00:00
20       2014-10-21 00:00:00
21       2014-10-21 00:00:00
22       2014-10-21 00:00:00
23       2014-10-21 00:00:00
24       2014-10-21 00:00:00
25       2014-10-21 00:00:00
26       2014-10-21 00:00:00
27       2014-10-21 00:00:00
28       2014-10-21 00:00:00
29       2014-10-21 00:00:00
                 ...
404380   2014-10-30 23:00:00
404381   2014-10-30 23:00:00
404382   2014-10-30 23:00:00
404383   2014-10-30 23:00:00
404384   2014-10-30 23:00:00
404385   2014-10-30 23:00:00
404386   2014-10-30 23:00:00
404387   2014-10-30 23:00:00
404388   2014-10-30 23:00:00
404389   2014-10-30 23:00:00
404390   2014-10-30 23:00:00
404391   2014-10-30 23:00:00
404392   2014-10-30 23:00:00
404393   2014-10-30 23:00:00
404394   2014-10-30 23:00:00
404395   2014-10-30 23:00:00
404396   2014-10-30 23:00:00
404397   2014-10-30 23:00:00
404398   2014-10-30 23:00:00
404399   2014-10-30 23:00:00
404400   2014-10-30 23:00:00
404401   2014-10-30 23:00:00
404402   2014-10-30 23:00:00
404403   2014-10-30 23:00:00
404404   2014-10-30 23:00:00
404405   2014-10-30 23:00:00
404406   2014-10-30 23:00:00
404407   2014-10-30 23:00:00
404408   2014-10-30 23:00:00
404409   2014-10-30 23:00:00
Name: new_hour, Length: 404410, dtype: datetime64[ns]

In [15]:
# check if column 'new_hour' was created and parsed to string
df_new.head(3)

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,C16,C17,C18,C19,C20,C21,new_date,new_time,day_of_week,new_hour
0,10004510652136496837,0,14102100,1005,0,543a539e,c7ca3108,3e814130,ecad2386,7801e8d9,...,50,2333,0,39,-1,157,2014-10-21,00:00:00,1,2014-10-21
1,10007164336863914220,1,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,50,1722,0,35,-1,79,2014-10-21,00:00:00,1,2014-10-21
2,10076859283156800622,0,14102100,1002,0,f17ebd97,c4e18dd6,50e219e0,ecad2386,7801e8d9,...,36,2497,3,43,100151,42,2014-10-21,00:00:00,1,2014-10-21

In [16]:
#confirm dtype of new_hour
df_new.new_hour.dtype

dtype('<M8[ns]')

In [17]:
# create new_date & new_time columns from parsed new_hour column
df_new['date'] = [d.date() for d in df_new['new_hour']]
df_new['time'] = [d.time() for d in df_new['new_hour']]

In [18]:
#check if columns were established properly
df_new.head(3)

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,C18,C19,C20,C21,new_date,new_time,day_of_week,new_hour,date,time
0,10004510652136496837,0,14102100,1005,0,543a539e,c7ca3108,3e814130,ecad2386,7801e8d9,...,0,39,-1,157,2014-10-21,00:00:00,1,2014-10-21,2014-10-21,00:00:00
1,10007164336863914220,1,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,0,35,-1,79,2014-10-21,00:00:00,1,2014-10-21,2014-10-21,00:00:00
2,10076859283156800622,0,14102100,1002,0,f17ebd97,c4e18dd6,50e219e0,ecad2386,7801e8d9,...,3,43,100151,42,2014-10-21,00:00:00,1,2014-10-21,2014-10-21,00:00:00

In [19]:
df_new.dtypes

id                          uint64
click                        int64
hour                         int64
C1                           int64
banner_pos                   int64
site_id                     object
site_domain                 object
site_category               object
app_id                      object
app_domain                  object
app_category                object
device_id                   object
device_ip                   object
device_model                object
device_type                  int64
device_conn_type             int64
C14                          int64
C15                          int64
C16                          int64
C17                          int64
C18                          int64
C19                          int64
C20                          int64
C21                          int64
new_date                    object
new_time                    object
day_of_week                  int64
new_hour            datetime64[ns]
date                        object
time                        object
dtype: object

In [20]:
# drop redundant cols
df_tmp = df_new.drop(['new_hour', 'hour'], axis=1)

In [21]:
df_tmp.head(2)

,id,click,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,...,C17,C18,C19,C20,C21,new_date,new_time,day_of_week,date,time
0,10004510652136496837,0,1005,0,543a539e,c7ca3108,3e814130,ecad2386,7801e8d9,07d7df22,...,2333,0,39,-1,157,2014-10-21,00:00:00,1,2014-10-21,00:00:00
1,10007164336863914220,1,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,1722,0,35,-1,79,2014-10-21,00:00:00,1,2014-10-21,00:00:00

In [22]:
# sannity check of summed columns for unique vals

for col in df_tmp.columns.values:
    total = len(df_tmp[col].unique())
    val = df_tmp[col].unique()
    print(str(col) + " " + "total: " + str(total))

id total: 404410
click total: 2
C1 total: 7
banner_pos total: 7
site_id total: 2195
site_domain total: 2172
site_category total: 21
app_id total: 2305
app_domain total: 153
app_category total: 26
device_id total: 64913
device_ip total: 262453
device_model total: 4369
device_type total: 5
device_conn_type total: 4
C14 total: 2067
C15 total: 8
C16 total: 9
C17 total: 415
C18 total: 4
C19 total: 65
C20 total: 159
C21 total: 60
new_date total: 10
new_time total: 24
day_of_week total: 7
date total: 10
time total: 24

# Feature engineering cont. 
### device_type converted into binary columns by device_type

In [23]:
# iterate through columns and print the unique values of each column
for col in df_tmp.columns.values:
    val = df_tmp[col].unique()
    print(str(col) + " " + ", val: " + str(val))

id , val: [10004510652136496837 10007164336863914220 10076859283156800622 ...
  9930625418032326788  9953588061726377330  9959058523366506236]
click , val: [0 1]
C1 , val: [1005 1002 1010 1007 1008 1012 1001]
banner_pos , val: [0 1 2 5 7 4 3]
site_id , val: ['543a539e' '1fbe01fe' 'f17ebd97' ... '9fd919ea' '1b72ccd8' '5a51436e']
site_domain , val: ['c7ca3108' 'f3845767' 'c4e18dd6' ... '0da06afc' '3e87e1c9' '645c06d3']
site_category , val: ['3e814130' '28905ebd' '50e219e0' '76b2941d' 'f028772b' 'f66779e6'
 '0569f928' '335d28a8' '72722551' '75fa27f6' 'c0dd3be3' 'a818d37a'
 '8fd0aea4' '70fb0e29' 'dedf689d' 'e787de0e' '5378d028' 'bcf865d9'
 '42a36e14' '9ccfa2ea' 'c706e647']
app_id , val: ['ecad2386' '1779deee' 'febd1138' ... '96f19b66' '5717fe5d' '404b2054']
app_domain , val: ['7801e8d9' '2347f47a' '82e27996' '45a51db4' '5c5a694b' 'afdf1f54'
 'aefc06bd' 'ae637522' 'd9b5648e' '828da833' '5b9c592b' '0654b444'
 '885c7f3f' 'b8d325c3' 'b5f3b24a' 'ad63ec9b' '33da2e74' '43cf4f06'
 '15ec7f39' '18eb4e75' '813f3323' 'b9528b13' 'f3ad7798' '5ac0b939'
 'f2f777fb' 'c6824def' '5c620f04' 'b408d42a' 'df32afa9' '7bbb38df'
 'e787a6bc' '6f7ca2ba' '4fafd4c4' 'b2816726' '9ec164d3' '0e8616ad'
 '2c1c31c6' '48aec236' '700adbf0' '7a94af76' 'e5d5313f' '1ed56ded'
 '2619a4f7' 'cb36afb8' '15c23f8e' '27ee373d' '772df91c' 'b12ff13e'
 'fd5f0ee2' 'f7f22564' '6a0a3a9d' '2b627705' '7b833eb9' '8d87821d'
 '1c666936' '9ecca2dd' '47464e95' '0d79ee56' 'f5a7c834' 'ef1fc174'
 '88293ffa' '438468ad' '9c566260' '448ca2e3' 'f48b6635' '3feeed1e'
 'db829551' 'b51aefa8' 'b6c7e8e1' '1d5e09f4' 'ba275770' '1ddc989f'
 'd9e67b62' 'bb6bcbae' 'd6feb1a4' '256a5990' 'b7af3e0a' '7a9371fa'
 '90322ef6' '29cd071c' 'a271c340' 'a5204413' '55240cf0' '63f57be0'
 'bd8c1fdc' '1cb641ec' '92895b94' '999f1fac' '1ea19ec4' 'ae36b8ab'
 'e5d008b4' 'adacd5cc' 'ead20d3d' '3191f81f' '9cc1123d' '713c0c91'
 'fc41b20c' '916026d9' 'd18c63a1' '5ad474ea' '51174fb1' '323f3fe5'
 'da45f10e' 'dcdba109' '09abdb18' 'a8b0bf20' '863f4950' '756ffb85'
 '99b4c806' '3fa331b0' 'c87b28e6' 'b88e8096' '3c992420' '449e219f'
 '298309ba' '5048f612' 'f435cae0' '57cf0548' '59e465f4' '9acfe436'
 '42ed489e' '5da9e6db' 'd95432fe' '3ca588d4' '7eec2ab0' '6437e20c'
 '535a6777' '6bfb9168' '9830a8fb' '65b2af4c' 'ed7f6170' '8a1d880a'
 '97efe5c6' '0b7d3d7d' '1b74784d' 'dcb74110' '12aaf71f' '48f95f3e'
 '9492ae41' '734d52b9' '7a0640b2' 'e2fa941d' 'b299335a' 'be452468'
 'e24414c4' 'f09de4dc' 'fe369646' 'b4df0cc5' 'cda96d46' 'b97def0d'
 'b9215c20' '7d58e760' '1cbecd39']
app_category , val: ['07d7df22' 'f95efa07' '0f2161f8' 'cef3e649' '8ded1f7a' '75d80bbe'
 '4ce2e9fc' 'd1327cf5' 'fc6fa53d' 'dc97ec06' 'a3c42688' '09481d60'
 '0f9a328c' '4681bb9d' '879c24eb' '79f0b860' 'a86a3e89' '2281a340'
 '0bfbc358' '8df2e842' 'a7fd01ec' '18b1e0be' '7113d72a' 'bf8ac856'
 '2fc4f2aa' '5326cf99']
device_id , val: ['a99f214a' '7681c1c6' '29968214' ... 'dd9d5e9c' '9cf797fb' '2a182304']
device_ip , val: ['8a308c73' 'b2b14786' 'dbd0f760' ... '79710561' '1c54673b' '0281e457']
device_model , val: ['3223bcfe' '36d749e5' '1a4a9acf' ... '2626ec75' '06f5a2bb' 'a11089e0']
device_type , val: [1 0 4 5 2]
device_conn_type , val: [0 2 3 5]
C14 , val: [20352 15706 21692 ... 23624 23740 18509]
C15 , val: [ 320  216  300  728  480 1024  768  120]
C16 , val: [  50   36  250  480   90  320  768 1024   20]
C17 , val: [2333 1722 2497 2161 1926 2480 1863 1800 2449 2283 2493 2227 1887 2351
 2481 2043 2374 1740 1994 1934 2496 2323 2434 2253 2039  576 1993 2162
 1637 2306  196 2446 2331 1401 1872 2271 1784 1899  423 2371  613 2060
  571 2312 2495 2295 2478 2264 1248 1973 2036 2304 2307 2154 1955 2158
 2424 2372 2465 2443 2485 1882 1092 2467 2263 1921 2303  112 1974  901
 2278 2487 2492  572 2201 1780 2421 1991  544 1698 1895  906  898  479
  122 2229 2285 2270 2083 1884  761 2260 1873 2418 2420 2348 2281 1835
 1996 1752 2286 2316  549  547 2282 2242  153 1272 1447 2325 2397 1965
 2471 2489 2394 1960 2225 2494 2206 2476 1255 1769 2181 2153  550 2187
 2339 1528 2500  768 2292 1507 2502 2338 2505 2504 2498 2427  937 2509
  178 2503 2390 2508 1174 2491 2513 2428 2412 2512 2441 2459 2483 1008
  827 2455 1741 2279 2510 2438 2425  394 2482 2451 2284 2519 2439  686
 2520 2250 2501 1685 1141 2016 1939 2506 2507 2526 2522 2523 2524 2518
 2525 1526 2528 2462 1076 1702 1932 2530 2440 2009 1823 1972 2436  873
 2479 2527 2544 2547 2545 2531 2532 2546 2533 2535 2536 2534 2101 2537
 1107 2369 2550 2552 2551 2548 2199 2556 2299 2554 2539 2543 2435 1694
 2555 2563 2218 2558 2515 2557 2566  832 2569 2570 2561 2572 2565 2571
 1903 2574 2340 2560 2553 1149 2577 2583 2580 1042 2587 2578 2454 2453
 2588 2589 2450  863 2576 2590 2573 1946 2579 2581 2594 2582 2602 2601
 1161 2604 2429 1160 2599 2600 2606 2597 2542 2609 2104  872 2592 2610
 1821 2615 2591 2616 2608 2613 2614 2603 2611 2593 2624 2619 2625 2631
 2630 2605 2634 2633 2635 2636 2612 2627 2647 2637 2640 2645 2644 2643
 2646 2638 2639 2648 2641 2642 2617  644 2649 2598 2620 2650 2226 2654
 2661 2660 2651 2657 2663 2655 2659 2656 2658 2665 2671 2668 2673 2667
 2669 2676 2672 2688 2684 2683 2682 2685 2681 2675 2679 2670 2677 2511
 2680 2686 2662 1809 2607 2664 2699 2698 2709 2695 2666 2716 2708 2717
 2707 2710 2713 2714 2706 2711 2691 2702 2705 2718 2724 2291 2703 2715
 2721 2720 2727 2653 2289 2728 2689 2729 2712 1426 2726 2730 2736 2674
 2738 2735 2687 2745 2700 2741 2740 2742 2652 2744 2743 2747 2748 2150
 2725 2749 2737 2753 2755 2754 2756 2757 2719]
C18 , val: [0 3 2 1]
C19 , val: [  39   35   43  297  167  163  687  943  303 1063  161  171  175  431
  551  427   47  291  813 1835 1319 1315  547 1711  681 1451  683  169
  423  299   41  801  425  679  673   34  559  553 1327 1447   33 1071
  811  555  675  295 1059  809  937  417   45  419 1065  935  815 1195
 1583  939 1839   38  290 1831  289  803 1575]
C20 , val: [    -1 100151 100111 100034 100075 100105 100083 100079 100020 100084
 100119 100060 100081 100148 100088 100183 100128 100130 100001 100046
 100188 100050 100131 100228 100101 100039 100086 100199 100221 100074
 100077 100048 100233 100210 100155 100202 100000 100037 100068 100191
 100166 100076 100217 100170 100062 100193 100189 100065 100215 100160
 100212 100194 100156 100103 100150 100013 100168 100021 100049 100225
 100171 100019 100093 100141 100087 100248 100161 100162 100172 100205
 100002 100041 100094 100028 100003 100022 100043 100107 100053 100031
 100224 100057 100144 100137 100206 100149 100033 100173 100032 100181
 100052 100163 100097 100182 100165 100029 100070 100106 100096 100123
 100117 100200 100185 100126 100071 100061 100241 100025 100012 100133
 100176 100072 100135 100004 100108 100095 100005 100192 100058 100177
 100026 100190 100055 100064 100143 100112 100091 100195 100139 100090
 100051 100099 100073 100063 100121 100175 100054 100040 100124 100056
 100059 100229 100113 100179 100153 100114 100244 100024 100010 100152
 100213 100178 100109 100016 100027 100082 100169 100122 100138]
C21 , val: [157  79  42  13  61  23  91  95 117  48  32 100  33  16  52  15 156  94
  46  71  93  51  43 111 101 195  69  82  20  17 116 112  90  70 221  68
 194  85  35 110 102 219 163 159 108 178 182 171 177 204 212 126 253 251
   1 229 246 255  76 104]
new_date , val: ['2014-10-21' '2014-10-22' '2014-10-23' '2014-10-24' '2014-10-25'
 '2014-10-26' '2014-10-27' '2014-10-28' '2014-10-29' '2014-10-30']
new_time , val: ['00:00:00' '01:00:00' '02:00:00' '03:00:00' '04:00:00' '05:00:00'
 '06:00:00' '07:00:00' '08:00:00' '09:00:00' '10:00:00' '11:00:00'
 '12:00:00' '13:00:00' '14:00:00' '15:00:00' '16:00:00' '17:00:00'
 '18:00:00' '19:00:00' '20:00:00' '21:00:00' '22:00:00' '23:00:00']
day_of_week , val: [1 2 3 4 5 6 0]
date , val: [datetime.date(2014, 10, 21) datetime.date(2014, 10, 22)
 datetime.date(2014, 10, 23) datetime.date(2014, 10, 24)
 datetime.date(2014, 10, 25) datetime.date(2014, 10, 26)
 datetime.date(2014, 10, 27) datetime.date(2014, 10, 28)
 datetime.date(2014, 10, 29) datetime.date(2014, 10, 30)]
time , val: [datetime.time(0, 0) datetime.time(1, 0) datetime.time(2, 0)
 datetime.time(3, 0) datetime.time(4, 0) datetime.time(5, 0)
 datetime.time(6, 0) datetime.time(7, 0) datetime.time(8, 0)
 datetime.time(9, 0) datetime.time(10, 0) datetime.time(11, 0)
 datetime.time(12, 0) datetime.time(13, 0) datetime.time(14, 0)
 datetime.time(15, 0) datetime.time(16, 0) datetime.time(17, 0)
 datetime.time(18, 0) datetime.time(19, 0) datetime.time(20, 0)
 datetime.time(21, 0) datetime.time(22, 0) datetime.time(23, 0)]

In [24]:
# use device_type as practice. There are 5 unique vals -- smaller number is easier to work with
df_tmp.device_type.nunique()

5

In [25]:
# store df_tmp.device_type as var for ease of re-use
dvc_type = df_tmp.device_type

In [26]:
# check instance of dvc_type
dvc_type[0]

1

In [27]:
# val counts gives me the count of each unique values 
dvc_type.value_counts()

1    373412
0     22074
4      7676
5      1247
2         1
Name: device_type, dtype: int64

In [28]:
# make var to hold col 'names' based off unique values stored as a list
col_names = df_tmp['device_type'].unique().tolist()
col_names

[1, 0, 4, 5, 2]

In [29]:
# check it
df_tmp.head(3)

,id,click,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,...,C17,C18,C19,C20,C21,new_date,new_time,day_of_week,date,time
0,10004510652136496837,0,1005,0,543a539e,c7ca3108,3e814130,ecad2386,7801e8d9,07d7df22,...,2333,0,39,-1,157,2014-10-21,00:00:00,1,2014-10-21,00:00:00
1,10007164336863914220,1,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,1722,0,35,-1,79,2014-10-21,00:00:00,1,2014-10-21,00:00:00
2,10076859283156800622,0,1002,0,f17ebd97,c4e18dd6,50e219e0,ecad2386,7801e8d9,07d7df22,...,2497,3,43,100151,42,2014-10-21,00:00:00,1,2014-10-21,00:00:00

In [30]:
df_tmp[col_names] = pd.get_dummies(df_tmp['device_type'])
df_tmp[col_names].describe()

,1,0,4,5,2
count,404410.000000,404410.000000,404410.000000,404410.000000,404410.000000
mean,0.054583,0.923350,0.000002,0.018981,0.003084
std,0.227165,0.266036,0.001572,0.136457,0.055444
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,0.000000,0.000000,0.000000
75%,0.000000,1.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000

In [31]:
# 2 unique numbers for column 1, this means it is either 1 or not 1?
df_tmp[col_names][1].nunique()

2

In [32]:
# check for missing values -- there are none, good.

df_tmp.isnull().sum()

id                  0
click               0
C1                  0
banner_pos          0
site_id             0
site_domain         0
site_category       0
app_id              0
app_domain          0
app_category        0
device_id           0
device_ip           0
device_model        0
device_type         0
device_conn_type    0
C14                 0
C15                 0
C16                 0
C17                 0
C18                 0
C19                 0
C20                 0
C21                 0
new_date            0
new_time            0
day_of_week         0
date                0
time                0
1                   0
0                   0
4                   0
5                   0
2                   0
dtype: int64

In [153]:
# ya final rows are columns stratified by device type
df_tmp.shape

(404410, 33)

In [154]:
# confirm successful selection of last 5 cols -- device types
df_tmp[df_tmp.columns[-5:]].head(3)

   1  0  4  5  2
0  0  1  0  0  0
1  0  1  0  0  0
2  1  0  0  0  0

In [155]:
# rename device_type col name for readability / understanding
df_dvtype = df_tmp
#df_dvtype.columns = ['a', 'b']
df_dvtype.head(3)

,id,click,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,...,new_date,new_time,day_of_week,date,time,1,0,4,5,2
0,10004510652136496837,0,1005,0,543a539e,c7ca3108,3e814130,ecad2386,7801e8d9,07d7df22,...,2014-10-21,00:00:00,1,2014-10-21,00:00:00,0,1,0,0,0
1,10007164336863914220,1,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,2014-10-21,00:00:00,1,2014-10-21,00:00:00,0,1,0,0,0
2,10076859283156800622,0,1002,0,f17ebd97,c4e18dd6,50e219e0,ecad2386,7801e8d9,07d7df22,...,2014-10-21,00:00:00,1,2014-10-21,00:00:00,1,0,0,0,0

In [156]:
df_dvtype = df_dvtype.rename({1:'device_type_a',0:'device_type_b',4:'device_type_c',5:'device_type_d', 2:'device_type_e'}, axis='columns')
df_dvtype.columns

Index(['id', 'click', 'C1', 'banner_pos', 'site_id', 'site_domain',
       'site_category', 'app_id', 'app_domain', 'app_category', 'device_id',
       'device_ip', 'device_model', 'device_type', 'device_conn_type', 'C14',
       'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21', 'new_date', 'new_time',
       'day_of_week', 'date', 'time', 'device_type_a', 'device_type_b',
       'device_type_c', 'device_type_d', 'device_type_e'],
      dtype='object')

In [157]:
df_num = df_dvtype.drop(columns = ['id', 'new_time', 'new_date'])

In [158]:
df_num.columns

Index(['click', 'C1', 'banner_pos', 'site_id', 'site_domain', 'site_category',
       'app_id', 'app_domain', 'app_category', 'device_id', 'device_ip',
       'device_model', 'device_type', 'device_conn_type', 'C14', 'C15', 'C16',
       'C17', 'C18', 'C19', 'C20', 'C21', 'day_of_week', 'date', 'time',
       'device_type_a', 'device_type_b', 'device_type_c', 'device_type_d',
       'device_type_e'],
      dtype='object')

In [159]:
df_num.dtypes

click                int64
C1                   int64
banner_pos           int64
site_id             object
site_domain         object
site_category       object
app_id              object
app_domain          object
app_category        object
device_id           object
device_ip           object
device_model        object
device_type          int64
device_conn_type     int64
C14                  int64
C15                  int64
C16                  int64
C17                  int64
C18                  int64
C19                  int64
C20                  int64
C21                  int64
day_of_week          int64
date                object
time                object
device_type_a        uint8
device_type_b        uint8
device_type_c        uint8
device_type_d        uint8
device_type_e        uint8
dtype: object

In [160]:
# converting non-numerical columns into numerical columns
categories = ['site_id', 'site_domain','site_category', 'app_id', 'app_domain', 'app_category', 'device_id', 'device_ip', 'device_model', 'date', 'time']

for category in categories:
  df_num[category] = df_num[category].astype('category').cat.codes

In [161]:
# check dtypes
df_num.dtypes

click               int64
C1                  int64
banner_pos          int64
site_id             int16
site_domain         int16
site_category        int8
app_id              int16
app_domain          int16
app_category         int8
device_id           int32
device_ip           int32
device_model        int16
device_type         int64
device_conn_type    int64
C14                 int64
C15                 int64
C16                 int64
C17                 int64
C18                 int64
C19                 int64
C20                 int64
C21                 int64
day_of_week         int64
date                 int8
time                 int8
device_type_a       uint8
device_type_b       uint8
device_type_c       uint8
device_type_d       uint8
device_type_e       uint8
dtype: object

In [162]:
df_num.head(3)
df_num.tail(3)

,click,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,...,C20,C21,day_of_week,date,time,device_type_a,device_type_b,device_type_c,device_type_d,device_type_e
404407,0,1005,0,263,2056,1,2129,65,0,43137,...,-1,51,3,9,23,0,1,0,0,0
404408,0,1005,0,1145,1680,5,1396,17,24,43137,...,-1,221,3,9,23,0,1,0,0,0
404409,0,1005,0,263,2056,1,2129,65,0,43137,...,-1,51,3,9,23,0,1,0,0,0

In [43]:
df_num.device_id.nunique()

64913

In [44]:
df_tmp.device_id.nunique()

64913

In [56]:
# just checking dow -- day_of_week is good, date is numbered 0-9 as there are 10 days of data
df_num.day_of_week.describe()

count    404410.000000
mean          2.601259
std           1.727362
min           0.000000
25%           1.000000
50%           2.000000
75%           4.000000
max           6.000000
Name: day_of_week, dtype: float64

# Original features

 - Target feature : click
 - Site features : site_id, site_domain, site_category
 - App feature: app_id, app_domain, app_category
 - Device feature: device_id, device_ip, device_model, device_type, device_conn_type
 - Anonymized categorical features: C14-C21

# New Features

### All features are numerical (df_num)
- Target feature : click
 - Site features : site_id, site_domain, site_category
 - App feature: app_id, app_domain, app_category
 - Device feature: device_id[a,b,c,d,e], device_ip, device_model, device_type, device_conn_type
 - Anonymized numerical features: C14-C21

# Data Analysis

In [163]:
df_da = df_num

In [164]:
# encode these categories
col_nams_ohe = []

for col in df_num.columns.values:
    total = len(df_num[col].unique())
    val = df_num[col].unique()
    if total < 26 and total > 2:
        col_nams_ohe.append(col)
        print(str(col) + " " + "has: " + str(total) + " sub-categories")

C1 has: 7 sub-categories
banner_pos has: 7 sub-categories
site_category has: 21 sub-categories
device_type has: 5 sub-categories
device_conn_type has: 4 sub-categories
C15 has: 8 sub-categories
C16 has: 9 sub-categories
C18 has: 4 sub-categories
day_of_week has: 7 sub-categories
date has: 10 sub-categories
time has: 24 sub-categories

In [165]:
col_nams_ohe = col_nams_ohe[0:8]
col_nams_ohe

['C1',
 'banner_pos',
 'site_category',
 'device_type',
 'device_conn_type',
 'C15',
 'C16',
 'C18']

In [166]:
df_da['device_conn_type'].describe()

count    404410.000000
mean          0.331688
std           0.855877
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           5.000000
Name: device_conn_type, dtype: float64

In [169]:
df_da['device_conn_type'].unique().tolist()

[0, 2, 3, 5]

In [173]:
# make var to hold col 'names' based off unique values stored as a list
dct_col_names = df_tmp['device_conn_type'].unique().tolist()
dct_col_names
df_da[dct_col_names] = pd.get_dummies(df_da['device_conn_type'])

                   0             2              3              5
count  404410.000000  404410.00000  404410.000000  404410.000000
mean        0.862951       0.08159       0.054393       0.001066
std         0.343900       0.27374       0.226791       0.032628
min         0.000000       0.00000       0.000000       0.000000
25%         1.000000       0.00000       0.000000       0.000000
50%         1.000000       0.00000       0.000000       0.000000
75%         1.000000       0.00000       0.000000       0.000000
max         1.000000       1.00000       1.000000       1.000000

In [240]:
df_da[dct_col_names].rename({0:'device_type_a',2:'device_type_b',3:'device_type_c',5:'device_type_d'}, axis='columns')

        device_type_a  device_type_b  device_type_c  device_type_d
0                   1              0              0              0
1                   1              0              0              0
2                   1              0              0              0
3                   1              0              0              0
4                   1              0              0              0
5                   1              0              0              0
6                   1              0              0              0
7                   1              0              0              0
8                   1              0              0              0
9                   1              0              0              0
10                  1              0              0              0
11                  1              0              0              0
12                  1              0              0              0
13                  1              0              0              0
14                  1              0              0              0
15                  1              0              0              0
16                  1              0              0              0
17                  1              0              0              0
18                  1              0              0              0
19                  1              0              0              0
20                  1              0              0              0
21                  1              0              0              0
22                  1              0              0              0
23                  1              0              0              0
24                  1              0              0              0
25                  1              0              0              0
26                  0              1              0              0
27                  1              0              0              0
28                  1              0              0              0
29                  1              0              0              0
...               ...            ...            ...            ...
404380              1              0              0              0
404381              1              0              0              0
404382              1              0              0              0
404383              1              0              0              0
404384              1              0              0              0
404385              1              0              0              0
404386              1              0              0              0
404387              1              0              0              0
404388              1              0              0              0
404389              1              0              0              0
404390              1              0              0              0
404391              1              0              0              0
404392              0              1              0              0
404393              1              0              0              0
404394              0              1              0              0
404395              1              0              0              0
404396              0              1              0              0
404397              1              0              0              0
404398              1              0              0              0
404399              0              1              0              0
404400              1              0              0              0
404401              1              0              0              0
404402              1              0              0              0
404403              1              0              0              0
404404              0              0              0              1
404405              1              0              0              0
404406              1              0              0              0
404407              1              0              0              0
404408              1              0              0              0
404409              1              0              0              0

[404410 rows x 4 columns]

In [241]:
df_da.nunique()

click                    2
C1                       7
banner_pos               7
site_id               2195
site_domain           2172
site_category           21
app_id                2305
app_domain             153
app_category            26
device_id            64913
device_ip           262453
device_model          4369
device_type              5
device_conn_type         4
C14                   2067
C15                      8
C16                      9
C17                    415
C18                      4
C19                     65
C20                    159
C21                     60
day_of_week              7
date                    10
time                    24
device_type_a            2
device_type_b            2
device_type_c            2
device_type_d            2
device_type_e            2
0                        2
2                        2
3                        2
5                        2
dtype: int64

In [242]:
df_.head(3)

,id,click,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,...,new_date,new_time,day_of_week,date,time,1,0,4,5,2
0,10004510652136496837,0,1005,0,543a539e,c7ca3108,3e814130,ecad2386,7801e8d9,07d7df22,...,2014-10-21,00:00:00,1,2014-10-21,00:00:00,0,1,0,0,0
1,10007164336863914220,1,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,2014-10-21,00:00:00,1,2014-10-21,00:00:00,0,1,0,0,0
2,10076859283156800622,0,1002,0,f17ebd97,c4e18dd6,50e219e0,ecad2386,7801e8d9,07d7df22,...,2014-10-21,00:00:00,1,2014-10-21,00:00:00,1,0,0,0,0

In [239]:
df_da.head(3)

,click,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,...,time,device_type_a,device_type_b,device_type_c,device_type_d,device_type_e,0,2,3,5
0,0,1005,0,755,1712,3,2129,65,0,43137,...,0,0,1,0,0,0,1,0,0,0
1,1,1005,0,263,2056,1,2129,65,0,43137,...,0,0,1,0,0,0,1,0,0,0
2,0,1002,0,2052,1680,5,2129,65,0,30034,...,0,1,0,0,0,0,1,0,0,0

In [243]:
df_da.corr()

,click,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,...,time,device_type_a,device_type_b,device_type_c,device_type_d,device_type_e,0,2,3,5
click,1.000000,-0.036423,0.025642,-0.006881,-0.038776,-0.006758,0.067806,-0.009115,-0.047392,0.009507,...,-0.001594,0.027055,-0.006894,-0.000712,-0.026526,-0.012464,0.073383,-0.024265,-0.080209,-0.012361
C1,-0.036423,1.000000,0.285905,0.002045,0.118206,0.032548,-0.220376,-0.003129,0.088804,0.048135,...,0.009499,-0.654006,0.175533,0.010144,0.642102,0.256732,-0.193787,0.128591,0.135281,0.023361
banner_pos,0.025642,0.285905,1.000000,0.294825,-0.414307,0.537784,0.141547,0.034286,-0.223802,0.036953,...,0.002007,-0.137598,-0.045195,-0.000901,0.273107,0.108488,0.083146,-0.044552,-0.069615,-0.018705
site_id,-0.006881,0.002045,0.294825,1.000000,-0.248331,0.404284,-0.095017,-0.020184,0.086245,-0.035173,...,0.026704,0.045376,-0.053862,-0.000548,0.025399,0.010036,-0.034177,0.005943,0.043794,0.005964
site_domain,-0.038776,0.118206,-0.414307,-0.248331,1.000000,-0.581931,-0.230189,-0.048898,0.208938,-0.036862,...,0.016024,-0.104539,0.052591,-0.002433,0.061531,0.024602,-0.149872,0.098664,0.106094,0.014449
site_category,-0.006758,0.032548,0.537784,0.404284,-0.581931,1.000000,0.259820,0.055193,-0.235834,0.105540,...,-0.008050,-0.119973,0.143805,-0.000785,-0.069452,-0.027512,0.155958,-0.094774,-0.119751,-0.016309
app_id,0.067806,-0.220376,0.141547,-0.095017,-0.230189,0.259820,1.000000,0.143223,-0.517759,0.170603,...,-0.016546,0.060291,0.090639,0.000818,-0.239244,-0.093142,0.348894,-0.173186,-0.313995,-0.041831
app_domain,-0.009115,-0.003129,0.034286,-0.020184,-0.048898,0.055193,0.143223,1.000000,-0.186938,0.065359,...,0.043936,0.026561,-0.031849,0.000174,0.015376,0.006148,0.052996,-0.176498,0.133880,-0.008390
app_category,-0.047392,0.088804,-0.223802,0.086245,0.208938,-0.235834,-0.517759,-0.186938,1.000000,-0.123029,...,0.029856,-0.113491,0.076977,-0.000743,0.035163,0.009114,-0.231008,0.155710,0.154392,0.055311
device_id,0.009507,0.048135,0.036953,-0.035173,-0.036862,0.105540,0.170603,0.065359,-0.123029,1.000000,...,-0.007749,-0.243278,0.291648,0.000333,-0.137750,-0.063632,0.049680,-0.034840,-0.029699,-0.024896
device_ip,-0.001218,-0.001025,0.000249,0.002923,-0.005245,0.004634,-0.001456,-0.005635,0.002401,0.000180,...,-0.005784,0.000086,0.000707,0.001513,-0.001477,-0.000154,0.004705,-0.000155,-0.006777,-0.001182
device_model,0.001145,0.089663,0.057905,0.025769,-0.017687,0.034885,-0.019136,0.014210,-0.003506,-0.000869,...,0.007470,-0.056593,0.005852,-0.002657,0.085154,-0.005706,-0.006078,0.027797,-0.025054,0.004995
device_type,-0.037733,0.893921,0.318953,0.004417,0.103804,-0.013895,-0.252483,0.003100,0.080533,-0.029082,...,0.014298,-0.465325,-0.097345,0.002957,0.792519,0.423017,-0.206978,0.129149,0.158103,-0.000916
device_conn_type,-0.081640,0.194250,-0.087404,0.039752,0.150206,-0.158928,-0.368365,-0.008072,0.232879,-0.050641,...,0.031103,-0.093119,-0.025318,-0.000609,0.173423,0.076204,-0.972465,0.580989,0.747724,0.178159
C14,-0.059671,0.054801,-0.012592,-0.012331,0.014308,0.004407,-0.056605,0.026451,-0.005277,0.051625,...,-0.047068,-0.052447,0.031530,-0.000933,0.022446,0.008383,-0.059010,0.010930,0.075629,0.004580
C15,-0.032516,0.108986,0.045772,0.001335,0.062458,-0.003618,-0.049827,0.016381,0.042178,-0.016507,...,-0.007372,-0.023880,-0.055384,0.000092,0.008666,0.342260,-0.080629,0.083044,0.020039,0.013828
C16,0.132155,0.060553,0.012077,-0.036204,-0.125370,-0.107900,0.052311,0.003992,-0.065512,0.016919,...,0.010745,-0.052297,0.022541,-0.000337,0.029492,0.033537,0.008548,0.014493,-0.030171,-0.001974
C17,-0.055060,0.062771,-0.032151,-0.011985,0.035429,-0.014147,-0.065247,0.021071,0.015235,0.049828,...,-0.043641,-0.063209,0.040120,-0.000933,0.023316,0.009113,-0.072777,0.023145,0.082448,-0.000184
C18,0.021468,-0.039897,0.095639,0.305065,-0.179331,0.135907,-0.047665,-0.024994,0.084796,-0.058755,...,0.024464,0.049021,-0.026991,0.001861,-0.028721,-0.000706,0.057585,-0.012748,-0.075677,0.026020
C19,-0.004816,0.002173,0.132041,0.065412,-0.028848,0.113481,0.011978,0.002200,0.022281,-0.013610,...,0.009576,-0.014178,0.018458,0.000309,-0.013287,0.002218,0.008549,0.007325,-0.022858,0.007315
C20,-0.060644,-0.034842,0.057116,0.079073,-0.075283,0.107218,-0.014258,0.183078,-0.055680,0.022800,...,0.025107,0.005114,0.025024,0.001474,-0.048632,-0.021377,-0.059093,-0.053631,0.150477,0.026855
C21,-0.066561,0.034021,-0.098572,-0.156752,0.121845,-0.114582,-0.045694,-0.093566,0.059922,0.021403,...,-0.070167,-0.030242,0.011564,-0.000029,0.026571,0.003025,-0.076332,0.090869,0.006964,-0.006230
day_of_week,0.016852,0.009949,0.007485,-0.023902,0.010981,-0.015940,0.021722,0.014775,-0.033770,0.019533,...,0.012972,-0.022139,0.020689,-0.001458,-0.005049,0.003905,-0.017066,-0.012546,0.040417,0.004206
date,-0.007525,-0.004417,0.030877,0.036547,-0.010469,0.015969,-0.010448,-0.080490,0.033642,-0.002309,...,0.050048,0.015618,-0.014553,0.001339,0.001092,0.003116,-0.047077,0.014637,0.054653,-0.006491
time,-0.001594,0.009499,0.002007,0.026704,0.016024,-0.008050,-0.016546,0.043936,0.029856,-0.007749,...,1.000000,-0.014442,0.007670,0.000980,0.005462,0.008899,-0.018137,-0.028780,0.062175,0.000458
device_type_a,0.027055,-0.654006,-0.137598,0.045376,-0.104539,-0.119973,0.060291,0.026561,-0.113491,-0.243278,...,-0.014442,1.000000,-0.833960,-0.000378,-0.033422,-0.013363,0.095755,-0.071618,-0.057628,-0.007848
device_type_b,-0.006894,0.175533,-0.045195,-0.053862,0.052591,0.143805,0.090639,-0.031849,0.076977,0.291648,...,0.007670,-0.833960,1.000000,-0.005458,-0.482775,-0.193028,0.021426,0.000650,-0.034629,0.009411
device_type_c,-0.000712,0.010144,-0.000901,-0.000548,-0.002433,-0.000785,0.000818,0.000174,-0.000743,0.000333,...,0.000980,-0.000378,-0.005458,1.000000,-0.000219,-0.000087,0.000627,-0.000469,-0.000377,-0.000051
device_type_d,-0.026526,0.642102,0.273107,0.025399,0.061531,-0.069452,-0.239244,0.015376,0.035163,-0.137750,...,0.005462,-0.033422,-0.482775,-0.000219,1.000000,-0.007736,-0.169408,0.095174,0.142663,-0.004543
device_type_e,-0.012464,0.256732,0.108488,0.010036,0.024602,-0.027512,-0.093142,0.006148,0.009114,-0.063632,...,0.008899,-0.013363,-0.193028,-0.000087,-0.007736,1.000000,-0.078214,0.056088,0.051164,-0.001817
0,0.073383,-0.193787,0.083146,-0.034177,-0.149872,0.155958,0.348894,0.052996,-0.231008,0.049680,...,-0.018137,0.095755,0.021426,0.000627,-0.169408,-0.078214,1.000000,-0.747922,-0.601825,-0.081962
2,-0.024265,0.128591,-0.044552,0.005943,0.098664,-0.094774,-0.173186,-0.176498,0.155710,-0.034840,...,-0.028780,-0.071618,0.000650,-0.000469,0.095174,0.056088,-0.747922,1.000000,-0.071485,-0.009736
3,-0.080209,0.135281,-0.069615,0.043794,0.106094,-0.119751,-0.313995,0.133880,0.154392,-0.029699,...,0.062175,-0.057628,-0.034629,-0.000377,0.142663,0.051164,-0.601825,-0.071485,1.000000,-0.007834
5,-0.012361,0.023361,-0.018705,0.005964,0.014449,-0.016309,-0.041831,-0.008390,0.055311,-0.024896,...,0.000458,-0.007848,0.009411,-0.000051,-0.004543,-0.001817,-0.081962,-0.009736,-0.007834,1.000000

## One hot encoder: automated encoding for sub-categories of columns

In [233]:
# categorical cols 'C1','banner_pos','site_category','device_type','device_conn_type','C15','C16','C18'
# experimenting with one hot encoder...

from numpy import array
from numpy import argmax
from keras.utils import to_categorical

#data = array(df_num['device_conn_type'])
#print(data)

data = [0,1,2,5,4,3,4,3,2,5,6,6,5,2,3,5,1,5,0]
practice_df = pd.Series(data)
practice_df.to_frame(name='data')
practice_df = data_df.rename(columns= {0: 'list'}).rename_axis('A').reset_index(name='list')
#practice_df.index.name = 'index'
practice_df

# one hot encode
encoded = to_categorical(practice_df['list'])
print(encoded)
# invert encoding
#inverted = argmax(encoded)
#print(inverted)

[[1. 0. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 0. 1. 0.]
 [0. 1. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 1. 0.]
 [1. 0. 0. 0. 0. 0. 0.]]

In [238]:
# only works if you flatten the ndarray... I don't want to flatten it?
encoded = encoded.flatten()

In [237]:
pd.get_dummies(encoded).describe()

              0.0         1.0
count  133.000000  133.000000
mean     0.857143    0.142857
std      0.351250    0.351250
min      0.000000    0.000000
25%      1.000000    0.000000
50%      1.000000    0.000000
75%      1.000000    0.000000
max      1.000000    1.000000

In [236]:
practice_df.describe()

               A       list
count  19.000000  19.000000
mean    9.000000   3.263158
std     5.627314   1.939132
min     0.000000   0.000000
25%     4.500000   2.000000
50%     9.000000   3.000000
75%    13.500000   5.000000
max    18.000000   6.000000

# Standardize / Normalize Data

In [ ]:
# describe each column
for col in df_num.columns:
    mean = df_num[col].mean()
    print(str(col) + " " + "stats are: " + str(mean))

In [ ]:
# correlations
df_da.corr()

In [ ]:
# filter out outliers
#df_normal = df_num[np.abs(df_num.Data-df_num.Data.mean()) <= (3*df_num.Data.std())]
# keep only the ones that are within +3 to -3 standard deviations in the column 'Data'.

# keep anything outside of +3 or -3 stdvs
#df_outliers = df_num[~(np.abs(df_num.Data-df_num.Data.mean()) > (3*df_num.Data.std()))]

In [ ]:
# barchart of frequency when given hashed value appears

# Random Forest
## Classification using sklearn
### baseline

In [ ]:
# baseline random forest
features = ['C1', 'banner_pos', 'site_id', 'site_domain',
       'site_category', 'app_id', 'app_domain', 'app_category', 'device_id',
       'device_ip', 'device_model', 'device_type', 'device_conn_type', 'C14',
       'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21', 'date', 'time', 'device_type_a', 'device_type_b', 'device_type_c', 'device_type_d', 'device_type_e']
target = ['click']

X_train, X_test, y_train, y_test = train_test_split(df_num[features], df_num[target], test_size = 0.2, random_state = 0)

In [ ]:
y_train.head(3)

In [ ]:
X_train.head(3)

In [ ]:
#running random forest algorithm

from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=1000, random_state=0)  
regressor.fit(X_train, y_train)  
y_pred = regressor.predict(X_test)

In [ ]:
Y_pred.shape